accelerate==0.18.0
torchvision
transformers==4.28.1
datasets
ftfy
tensorboard
Jinja2
xformers==0.0.18
gradio
matplotlib
tqdm
pillow==10.0.0
diffusers==0.15.1
git+https://github.com/cloneofsimo/lora.git@9d6e0b4b5dc40f1d23b1c2260dcd5738309a2844

